<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container">
	  <div class="line-top"></div>
      <header id="header">
		<%= render '/refinery/header' -%>
      </header>
      <section id="page">
		<div class="quote">
			<%= yield %>
		</div>
		<div class="container">
			<%#= render '/carousel' %>
			<%#= render '/featured_words' %>
			<%= render '/services' %>
			<%= render '/recent-work' %>
		</div>
      </section>
		<%= render '/bottom' %>
      <footer>
        <%= render '/refinery/footer' %>
      </footer>
    </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
